.h1-title {
  transition: all 1s ease;
}
.space {
  padding: 2rem;
  height: 5.7rem;
  width: 100%;
}
.ui-widget {
  width: 40%;
  overflow-x: hidden;
  overflow-y: hidden;
}
.ui-autocomplete {
  font-size: 1rem;
  max-height: 20rem;
  overflow-y: auto;
  max-width: 42rem;
}
#autocomplete {
  width: 100%;
}
.contain {
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 10rem;
  height: 34rem;
  width: 80%;
  gap: 2rem;
  transition: all 1s ease;
}
table {
  border-collapse: collapse;
  height: fit-content;
}
.tfootrow {
  font-weight: bold;
  border: 1px solid white;
  border-top: 5px solid black;
}
td {
  font-size: 1.2rem;
  height: 3rem;
}

@media (max-width: 768px) {
  .contain-er {
    height: 80%;
    flex-direction: column;
    width: 90%;
  }
}
@media (max-width: 425px) {
  td,
  tr > * {
    font-size: 1rem;
  }
}
