.title {
  margin: 0 auto;
  margin-top: 6rem;
  padding: 1rem;
  width: 100%;
  transition: margin-top 1s ease;
}

.novosti {
  background-color: #f7f7f7;
  margin: 0 auto;
  margin-top: 10rem;
  height: 55rem;
  width: 100%;
  display: flex;
  padding: 1px;
  align-items: center;
  justify-content: space-evenly;
  transition: all 1s ease;
}

.novost {
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100rem;
  border: solid #e7e7e7;
  border-radius: 25rem;
  border-width: 2rem;
  box-shadow: 0px 0px 20px 0px #000000bf;
  display: flex;
  flex-direction: column;
  height: 35rem;
  justify-content: center;
  padding: 1rem;
  width: 35rem;
}
.novost-1 {
  background-image: url("/Materials/img/novost1.jpg");
}
.novost-2 {
  background-image: url("/Materials/img/novost2.jpg");
}
.novost-3 {
  background-image: url("/Materials/img/novost3.jpg");
}

.novost > * {
  color: rgb(255, 252, 45);
  font-family: "Roboto Condensed", serif;
  font-size: 2.2rem;
  text-align: center;
}

.novost > p {
  font-size: 2.1rem;
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px black;
}
.link-novost {
  text-decoration: none;
}

/* --------------------------------------------------------------------------------------------------------------------------- */
.section-1 {
  margin: 0 auto;
  margin-top: 5rem;
  width: 60%;
}

.video1 {
  width: auto;
  height: 400px;
}

.section-1 > p {
  margin-top: 6rem;
  font-weight: 400;
  line-height: 3rem;
  margin-bottom: 5rem;
  font-size: 2rem;
}

.section-2 {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 72rem;
  margin-bottom: 4rem;
  justify-content: center;
  align-items: center;
}
.picture {
  padding: 1rem;
  height: 33rem;
  width: 100%;
  animation: Slide 0.8s ease forwards;
}
.picture > p {
  color: white;
  font-size: 4rem;
  padding: 7rem;
  width: 70%;
  margin: 0 auto;
  line-height: 6rem;
  font-weight: 500;
}

.picture-novosti-1 {
  background-image: url("/Materials/img/novost1.jpg");
  background-position: center;
}

.picture-novosti-2 {
  background-image: url("/Materials/img/novost2.jpg");
  background-position: center;
}
.picture-novosti-3 {
  background-image: url("/Materials/img/novost3.jpg");
  background-position: center;
}

@keyframes Slide {
  from {
    background-position-y: center;
  }
  to {
    background-position-y: top;
  }
}
.space {
  padding: 1rem;
  height: 5.7rem;
  width: 100%;
}

.mbc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  z-index: 100;
  max-width: 100%;
  max-height: 80vh;
  margin: auto;
  display: block;
}

.mhc {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  z-index: 10;
}

.btn-close {
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .picture > p {
    line-height: 5rem;
    width: 80%;
  }
  .title > h1 {
    margin-bottom: 2rem;
  }
  .section-1 {
    width: 80%;
  }
  .novost {
    height: 30rem;
    width: 30rem;
    background-size: 90rem;
  }
  .novost > p {
    font-size: 1.5rem;
  }
  .novosti {
    margin: 0 auto;
  }
}

@media (max-width: 768px) {
  .picture {
    background-size: 150rem;
  }
  .picture > p {
    font-size: 3.5rem;
    width: 90%;
  }
  .space {
    height: 5.4rem;
  }
  .novost {
    height: 25rem;
    width: 25rem;
    background-size: 75rem;
    margin-bottom: 2rem;
    border-width: 1rem;
  }
  .novost > p {
    font-size: 1.5rem;
  }
  .novost > h3 {
    font-size: 2rem;
  }
  .novosti {
    flex-direction: column;
    height: fit-content;
    margin: 0 auto;
  }
}
@media (max-width: 600px) {
  .section-1 > p {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .section-2 {
    width: 58rem;
  }
  .picture > p {
    padding: 1rem;
    padding-top: 4rem;
    font-size: 3rem;
    width: 90%;
  }
  article > h3 {
    font-size: 2.5rem;
  }
  .video1 {
    width: 90%;
    height: auto;
  }
}

@media (max-width: 425px) {
  .picture {
    background-size: 120rem;
  }
  .carousel > .container > .row > div {
    margin-bottom: 2rem;
  }
  .section-2 {
    width: 40rem;
  }
  .picture > p {
    font-size: 2.5rem;
    width: 100%;
  }
  article > h3 {
    font-size: 2.5rem;
  }
  .video1 {
    width: 95%;
    height: auto;
  }
  .novost {
    height: 20rem;
    width: 20rem;
    background-size: 60rem;
    margin-bottom: 2rem;
  }
  .novost > p {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }
  .novost > h3 {
    font-size: 1.7rem;
  }
}
